body {
    font-family: 'roboto', sans-serif;
}

header,
main,
footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid gray;
    padding: 1vw;
    background-color: powderblue;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 1rem;
    row-gap: 1rem;
}

section {
    padding: 1vw;
    background-color: white;
}