@media (min-width: 640px) {
    main {
        max-width: 1000px;
        margin: 1rem auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 1rem;
    }
}