:root {
    --heading-color: #59163B;
    --background-color: #F2E4BB;
    --nav-color: #79361E;
    --text-color: #0D0D0D;
    --button-color: #88C057;
    --heading-font: 'Montserrat', sans-serif;
    --special-font: 'Playfair Display', sans-serif;
    --text-font: 'Roboto', sans-serif;
    --text-box-color: #B0CFC9;
    --color-on-light: #0D0D0D;
    --required-color:#ACFEB9;

}