:root {
    --heading-color: #E0E0E0;
    --background-color: #121212;
    --nav-color: #9F72D6;
    --text-color: #FFFFFF;
    --button-color: #CF6679;
    --heading-font: 'Montserrat', sans-serif;
    --special-font: 'Playfair Display', sans-serif;
    --text-font: 'Roboto', sans-serif;
    --text-box-color: #B0B0B0;

}