:root {
    --heading-color: #E0E0E0;
    --background-color: #121212;
    --nav-color: #BA86F9;
    --text-color: #121212;
    --button-color: #F2788E;
    --heading-font: 'Montserrat', sans-serif;
    --special-font: 'Playfair Display', sans-serif;
    --text-font: 'Roboto', sans-serif;
    --text-box-color: #B0B0B0;
    --color-on-light: #F2F2F2;
    --required-color:#700000;
}