@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@media (min-width: 1000px) {
    body {
        max-width: 1280px;
        margin: 0 auto;
    }

    nav {
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    }

    nav ul {
        display: flex;
        align-items: center;

    }

    nav ul li {
        flex: 1 1 100%;

    }

    header {
        display: flex;
        flex-direction: column;
    }

    .hero {
        grid-row: 2/3;
        width: 100%;
        max-width: 1280px;
    }

    .logo {
        order: -1;
    }

    #join-us {

        bottom: 25px;
        right: 25px;
        padding-bottom: 1rem;

    }

    #join-us:hover {
        transform: scale(1.2);
    }

    main {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto;

        column-gap: 1rem;
        max-width: 1280px;
    }

    h2 {
        font-size: 1.5vw;
    }

    .special-break {
        display: block;
        margin-bottom: 1rem;

    }



    .scrolling-container {
        grid-column: 2/3;
        grid-row: 1/2;
        margin: 0;
        overflow: visible;
        white-space: normal;
        animation: none;
        padding: 0;
        background: none;
        box-shadow:
            inset 5px 5px 10px rgba(0, 0, 0, 0.5),
            5px 5px 10px rgba(0, 0, 0, 0.3);
        border: 1px solid var(--text-color);
        background-color: white;
        min-width: 300px;


    }

    .scrolling-content {
        margin: 0;
        display: block;
        animation: none;
        padding: 0 1rem;


    }

    .scrolling-content p::first-line {
        font-size: 2vw;
        font-weight: bold;
        color: var(--heading-color);
        display: inline-block;
        font-family: var(--heading-font);
    }

    .all-stars {
        margin: 0;
        grid-row: span 2;
        grid-column: 1/2;

    }

    .weather-box {

        grid-column: 2/3;
        grid-row: 2/3;
    }

    #menu {
        display: none;
        /* hide hamburger button */
    }

    .navigation {
        flex-direction: row;

    }

    .navigation a {
        display: block;
        flex: 1 1 100%;
        font-size: 1.75rem;
    }

    #signUp {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    #biz-description {
        max-width: 100%;
    }
}