@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url(../styles/colors-and-fonts.css);



body {
    justify-content: center;
    overflow: auto;
    background-color: var(--background-color);
    margin: 0 auto;
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    grid-template-rows: auto auto auto auto auto;
    padding: 0;
    max-width: 1000px;
}

header {
    overflow: auto;
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: .5fr 1fr 1fr 1fr .5fr;
    grid-template-rows: 1fr;



}

header img {
    grid-column: 2/3;
    margin: auto 0;
    padding: 10% 5%;
    max-width: 100%;
    height: auto;
}

header h1 {
    grid-column: 3/6;
    font: 5vw var(--heading-font);
    padding: 0 5%;
    align-content: center;
    color: var(--background-color);
}

#menu {
    display: block;
    font-size: 2em;
    font-weight: 700;
    text-decoration: none;
    padding: .5rem .75rem;
    background-color: var(--primary-color);
    color: var(--background-color);
}

#menu::before {
    content: "≡";
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❌";
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    background-color: var(--nav-color);
    color: var(--color-on-light);
}

.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.navigation a:hover {
    background-color: #bbb;
    color: #333;
    font-weight: 700;
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
    display: block;
}

.active::before {
    content: "📍";
    /* just a wayfinding symbol for the user */
}

nav {
    font: 1vw var(--heading-font);
    font-weight: 700;
    grid-column: 2/3;
    grid-row: 2/3;
    flex-direction: column;
    align-items: center;
    background-color: var(--nav-color);
    padding: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li:hover {
    background-color: var(--primary-color);
}

nav a {
    display: block;
    padding: 1vw;
    font-size: clamp(16px, 1vw, 24px);
    color: var(--primary-color);
    text-decoration: none;
    text-align: center;
    white-space: nowrap;

}



nav a:hover {
    color: var(--background-color);

}

main {
    grid-column: 2/3;
    grid-row: 3/4;
    margin: 1vw;
}

main h2 {
    text-align: center;
    color: var(--color-on-light);
    font-family: var(--heading-font);
    border-bottom: 1px solid var(--color-on-light);
}

#learning {
    border: 1px solid var(--color-on-light);
    margin: 1vw 0;
}

#info {
    border: 1px solid var(--color-on-light);
    text-align: center;

}

#info p div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--paragraph-font);
    color: var(--color-on-light);
}

.card h3 {
    text-align: center;
    background-color: var(--primary-color);
    font-family: var(--heading-font);
    font-weight: 400;
    color: var(--background-color);
    margin: 0;
}

.card ul {
    list-style-type: decimal-leading-zero;
    font-family: var(--paragraph-font);
    font-size: 1rem;


}

.card ul li {
    margin-bottom: 1rem;
}

iframe {
    margin: 1rem auto;
    width: 100;
    height: 75;
}

footer {
    grid-column: 2/3;
    grid-row: 5/6;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--background-color);
    font-family: var(--paragraph-font);
    font-weight: 200;
}

footer p::before {
    content: "👌";

}

footer p::after {
    content: "👌";
    color: var(--background-color);
}