@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --primary-color: #123935;
    --background-color: #efeff0;
    --nav-color: #97B8B4;
    --heading-font: 'Pridi', serif;
    --paragraph-font: 'Playfair Display', serif;
    --color-on-light: #0D0D0D;
}